
body{
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  width: 90%;
  margin:0px auto !important;
  background: #4caf5069;
  margin-top: 5px;
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}

#navmenu{
background: #4caf50de;
position: relative;
height: 100px;
color: black;
}


#navmenu img{
  width: 130px;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 10px;
}

#navmenu ul{
display: flex;
flex-direction: row;
position: absolute;
top: 30px;
right: 30px;
  }

#navmenu h1{
position: absolute;
top: 40px;
padding: 0px;
margin: 0px;
left: 130px;
font-size: 40px;
color: black;
  }

#navmenu ul li{
  list-style: none;
  font-size: 20px;
  margin: 10px;
  color:coral;
}

#navmenu ul li a{
  text-decoration: none;
  padding:10px;
  color:black;
  font-size: 25px;

}

#navmenu ul li a:hover{
  background: #2E4053;
  color:white;
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}

#foot{
  text-align: center;
  position: abolute;
  bottom:5px;
  background: #4caf50de;
  padding: 2px;
}

#foot ul{
  display: flex;
  flex-direction: row;
  justify-content: center;;
}
#foot ul li{
  list-style: none;
  margin-right:20px;
  padding-bottom: 10px;
}
#foot ul li a{
  text-decoration: none;
  color:white;
}

#foot ul li a:hover{
  background: #ddd;
  border-radius: 4px;
  color:black;
  }

.container{
    padding-top: 10px;
  }



.container h1
{
  margin-top: 20px;
  color:#0c567a;
  margin-left: 10px;
  margin-bottom: 0px;
}
.container h4
{
width: 99%;
text-align: left;
margin-top: 3px;
padding-left: 10px;
background: #4caf5061;
box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.container h3
{
  margin: 20px;
  color:black;
}

.container #read{
  text-decoration: none;
  padding:5px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.container .imagestyle{
  width:100%;
  height:500px;
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}
.show .imagestyle{
  width:100%;
  height:500px;
}
.container #read:hover{
  color:black;
  box-shadow: 2px 2px 15px rgba(0.0.0,.5);

}

hr{
  margin: 10px;
}

.container{
  margin-top: 10px;
}

.container p
{
  margin: 20px;
  color:#795548;
}
.container hr{
  display: block;
  margin-top: 10px;
}

.container #title
{
  text-decoration: none;
}

#head{
  margin:20px;
  color: #009688;
  padding-bottom: 10px;
}

form {
  position: relative;
  width:100%;
}

form label{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

form label h3
{
  width:20%;
  margin:0px;
}
form label input{
  width:30%;
  height:32px;
  border:1px solid #D5DBDB;
  padding-left: 5px;
}
form label input:hover{
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}
form label textarea
{
  width:70%;
  height:100px;
  border:1px solid #D5DBDB;
  padding-left: 5px;
}
form label textarea:hover{
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}
form label #imagefile{
  background: white;
  color: black;
  height:32px;
}

form button{
  position: relative;
  left:580px;
  margin-bottom: 20px;
  border:1px solid;
  border-radius: 4px;
  cursor: pointer;

}
form button:hover{
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}

.message{
  width: 500px;
  background: #4CAF50;
  border: 1px solid;
  border-radius: 0px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.container #addCategory label{
  display: flex;
  flex-direction: row;
  }
.container #addCategory input{
  margin-top: 25px;
}
  .container #addCategory h3{
    width:12%;
  }
  .container #addCategory button{
    left:415px;
    top: -20px;
  }
.container .comsection
  {
margin: 20px;
background: #ECF0F1;
width: 700px;

border-radius: 5px 0px 0px 0px;
  }
.container .comsection .row{

  }
.container .comsection .comments{
    display: flex;
    flex-direction: row;
}
.container .comsection .comments a{
    margin:8px;
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 5px;
    position: relative;
    left: 250px;

}
  .container .comsection .comments a:hover{
   background:#2E4053;
   color:#73C6B6  ;
   box-shadow: 2px 2px 15px rgba(0,0,0,.5);
  }
.container .comsection h4
{
background: none;
font-size: 20px;
margin: 10px;
width:auto;
padding: 0px 5px;
}
.container .comsection p {
  margin-top: 5px;
  color:black;
}
.container .comsection span{
  margin: 20px;
}
.container .addComment form h3{
  margin: 0px;
  color: black;
}
.container .addComment h2{
  margin:20px;
  color: black;
}
.container .edit{
  margin: 20px;
  margin-top: 0px;
}
.container .edit button
{
margin: 5px;
}
.container .edit button a{
  text-decoration: none;
  color:black;
}
.container .edit button:hover{
  background:white;
  color:black;
  box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}

.update h1
{
  margin: 30px 20px;
}
.update form #body{
  width:70%;
  height:300px;
}
